<h2 mat-dialog-title>Create New Client</h2>
<mat-dialog-content>
  <form [formGroup]="clientForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSave()">OK</button>
</mat-dialog-actions>

